# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\recipe-recyclerview-Zacbt519-master\recipe-recyclerview-Zacbt519-master\AssignmentThree_ZBT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
